.header {
  background-color: #fffff0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.nav {
  max-width: 1000px;
  margin: 0 auto;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.link {
  color: #B37439;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.link:hover {
  color: #ff8c00;
}

@media (max-width: 600px) {
  .nav {
    padding: 10px;
  }

  .link {
    font-size: 0.8rem;
  }
}
